---
import Layout from "../components/layout.astro";
import Button from "../components/button.astro";
import PortfolioGrid from "../components/react/PortfolioGrid";
import "@fontsource-variable/jetbrains-mono";
import { ME_DESCRIPTION, CV_LINK } from "../config";
import ContactRow from "../components/contact-row.astro";
import { WORK_EXPERIENCE } from "../config";
---

<Layout hideFooter title="About Me">
  <div class="max-w-screen-lg mx-auto pb-24">
    <div class="bg-neutral-900/60 rounded-lg p-4 mt-[60px] md:mt-[80px] mb-6 md:mb-12">
      <div class="flex-col md:flex-row flex items-center justify-center gap-6 md:gap-10 h-full text-white">
        <div>
          <h3 class="text-white text-2xl font-logo">Hello, I am Mu Jing!</h3>
          <p class="font-mono text-slate-400 my-6 mb-10" set:html={ME_DESCRIPTION} />
          <h3 class="text-white text-2xl font-logo mb-5">Contacts</h3>
          <ContactRow />
        </div>
        <div class="min-w-80 w-full">
          <div class="flex flex-col border border-slate-600 gap-4 p-4 pt-0">
            <img src="/avatar.jpeg" alt="me" class="w-32 h-32 rounded-full mx-auto mt-4" />
            <div class="flex flex-wrap items-center">
              <h3 class="text-lg text-white font-logo">Work Experience</h3>
            </div>
            <ul class="flex flex-col gap-4 text-slate-400 m-0">
              {
                WORK_EXPERIENCE.map((item) => (
                  <li class="flex flex-col">
                    <h4 class="text-lg">{item.company}</h4>
                    <div class="flex gap-2 justify-between text-slate-500">
                      <p class="text-sm">{item.position}</p>
                      <p class="text-sm">
                        {item.startDate} - {item.endDate}
                      </p>
                    </div>
                  </li>
                ))
              }
            </ul>
            <Button href={CV_LINK} class="rounded-none">
              <span>Open CV</span>
            </Button>
          </div>
        </div>
      </div>
    </div>

    <div class="p-4 flex gap-4 bg-neutral-900/60 rounded-lg">
      <PortfolioGrid client:load showTitle={true} />
    </div>
  </div>
</Layout>

<script></script>
